body {
/*background-color: #2f6073;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2364ccf4'/%3E%3Cstop offset='1' stop-color='%232f6073'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23acdef2' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23acdef2' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.5'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
*/
background-image: url('../images/bg.png');
background-size: cover;
font-family:'Montserrat', sans-serif;
}

body.profile-page {
	background-image: url('../images/profile-bg.png');
	background-size: cover;
}

.profile-page #header, .profile-page #footer  {
	background: rgba(240, 145, 62, 0.9);
}

.profile-title {
	color: black;
	text-decoration: none
}

.profile-title:hover {
	color: black;
	text-decoration: none
}

.logout-btn {
	color: white;
}

.logout-btn:hover{
	text-decoration: underline;
	font-weight: bold;
	color: white;
}

#header h2{
	font-family: 'Belleza', sans-serif;
	font-size: 3rem;
}

.required{
	color: red;
}

.form-container {
	min-height: 85vh;
}

.course-box, .registration-box{
	min-height: 85vh;
}

.profile-box {
	max-height: 25rem;
}

.course-box{
	min-width: 50%;
}

.credits-text, h1, h2, label {
	color: black;
}

.btn-primary {
	background-color: #3AA27A;
	border:	solid .5px #3AA27A;
}

.btn-primary:hover, .btn-primary:active{
	background-color: #A2D998;
	border: solid .5px #A2D998;
}

.deactivate {
	color: white;
	text-decoration: none;
}

.deactivate:hover {
	color: white;
	text-decoration: underline;
}